.project_photo {
  display: block;
  margin: auto;
  width: 45%;
}

#bio_pic {
  border-radius: 2%;
  /*
  display: block;
  margin: auto;
  border-radius: 50%;
  */
}

#mail_photo {
  display: block;
  margin: auto;
  width: 25%;
}

#projects {
  border-bottom: 2px solid LightGrey;
}

#bio_paragraph {
  /*
  width: 50%;
  margin: auto;
  */
}
